<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-2">
    <div class="px-4 py-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <%= form.label :issue_no, class: "label" %>
          <%= form.text_field :issue_no, class: "input input-sm" %>
        </div>
        <div>
          <%= form.label :external_no, class: "label" %>
          <%= form.text_field :external_no, class: "input input-sm" %>
        </div>
      </div>
      <div class="field mt-2">
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "input input-sm" %>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-2">
        <div class="field">
          <%= form.label :issue_type, class: "label" %>
          <%= form.text_field :issue_type, class: "input input-sm" %>
        </div>
        <div class="field">
          <%= form.label :issue_status, class: "label" %>
          <%= form.text_field :issue_status, class: "input input-sm" %>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-2 ">
        <div class="field">
          <%= form.label :author, class: "label" %>
          <%= form.text_field :author, class: "input input-sm" %>
        </div>
        <div class="field">
          <%= form.label :assigned_to, class: "label" %>
          <%= form.text_field :assigned_to, class: "input input-sm" %>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-2 ">
        <div class="field">
          <%= form.label :target_build, class: "label" %>
          <%= form.text_field :target_build, class: "input input-sm" %>
        </div>
        <div class="field">
          <%= form.label :issue_priority, class: "label" %>
          <%= form.text_field :issue_priority, class: "input input-sm" %>
        </div>
        <div class="field">
          <%= form.label :application_name, class: "label" %>
          <%= form.text_field :application_name, class: "input input-sm" %>
        </div>
        <div class="field">
          <%= form.label :tracked, class: "label" %>
          <%= form.check_box :tracked, class: "input input-sm" %>
        </div>        
      </div>
      <div class="field mt-2">
        <%= form.label :tags, class: "label" %>
        <%= form.text_field :tags, class: "input input-sm" %>
      </div>      
      <div class="field">
        <%= form.label :notes, class: "label" %>
        <%= form.text_area :notes, rows: 4, class: "input input-sm" %>
      </div>
      <div class="field">
        <%= form.label :current_status, class: "label" %>
        <%= form.text_area :current_status, rows: 4, class: "input input-sm" %>
      </div>
      <div class="field">
        <%= form.label :next_steps, class: "label" %>
        <%= form.text_area :next_steps, rows: 4, class: "input input-sm" %>
      </div>
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-default mt-2" %>
        <%= link_to "back", issues_path%>
      </div>
    </div>
    <div class="px-4 py-6">
      <div class="w-full">
        <h2 class="pt-4 mb-4 text-lg font-bold heading"><%= "Linked Ticket: #{issue.ticket&.ticket_no} - #{issue.ticket&.title}"%></h2>
        <hr>
        <h3 class="pt-4 mb-4 text font-bold heading">Change Linked Ticket</h3>
        <div data-controller="ticket-search" data-reflex-root="#morph">
          <input type="text" placeholder="Search for a ticket..." class="input"
    data-target="ticket-search.query" data-action="debounced:input->ticket-search#perform">
          <div id="morph" class="mt-4">
            <span data-target="ticket-search.activity" class="text-red-600" hidden>
              <i class="fas fa-spinner fa-spin"></i>
              Searching for tickets...
            </span>
            <span data-target="ticket-search.count" class="text-green-600">
              <strong><%= @tickets&.count || 0 %></strong> tickets found
            </span>
            <% table_hide_class = @tickets ? "" : "hidden" %>
            <%= hover_table add_class: table_hide_class, data: {target: "ticket-search.list"}  do %>
              <%= table_head do %>
                <%= table_row do %>
                  <%= table_column_compact "Ticket No" %>
                  <%= table_column_compact "Status" %>
                  <%= table_column_compact "Title" %>
                  <%= table_column_compact%>
                <% end %>
              <% end %>
              <tbody>
                <% if @tickets %>
                  <% @tickets.each do |ticket| %>
                    <tr>
                      <%= table_compact_data ticket.ticket_no %>
                      <%= table_compact_data ticket.ticket_status %>
                      <%= table_compact_data ticket.title[0..125] %>
                      <%= table_compact_data do link_to "Link", link_issue_path(issue.id, params: {ticket_id: ticket.id}), method: :patch, class: "btn btn-blue btn-outline text-xs" end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
