<%= hover_table do %>
  <%= table_head do %>
    <%= table_row do %>
      <%= sortable_tr_compact("position", "TestCaseReflex") %>
      <%= table_column_compact "" %>
      <%= sortable_tr_compact("department", "TestCaseReflex") %>
      <%= sortable_tr_compact("title", "TestCaseReflex") %>
      <%= table_column_compact "Blocking P1" %>      
      <%= table_column_compact "Blocking P2" %>            
      <%= table_column_compact "Who" %>
      <%= table_column_compact "Additional Solution" %>
      <%= table_column_compact "Notes" %>      
      <%= table_column_compact "Vol. Test?" %>
      <%= table_column_compact "Vol. Per Month" %>      
      <%= table_column_compact "Tests Run?" %>
      <%= table_column_compact "V. Tests Run?" %>     
      <%= sortable_tr_compact("extra", "TestCaseReflex") %>      
    <% end %>
  <% end %>
  <%= table_body  do %>
    <% test_cases.each do |test_case| %>
      <%= table_row do %>
        <%= table_compact_data test_case.position %>
        <%= table_compact_data(test_case_status_icon test_case) %>
        <%= table_compact_data test_case.department[0..70]%>
        <%= table_compact_data test_case.title[0..70]%>
        <%= table_compact_data test_case.blocking_p1_cases.pluck(:case_no).join(",")%>            
        <%= table_compact_data test_case.blocking_p2_cases.pluck(:case_no).join(",")%>            
        <%= table_compact_data do %>
          <%= tag(:input, type: "text", value: test_case.assigned_to,  data: { id: test_case.id, reflex: "change->TestCaseReflex#update_assigned_to" }, size: "6", class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>  
        <% end %>          
        
        <td><%= tag(:input, type: "text", value: test_case.additional_solution,  data: { id: test_case.id, reflex: "change->TestCaseReflex#update_solution" },  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <td><%= tag(:input, type: "text", value: test_case.notes,  data: { id: test_case.id, reflex: "change->TestCaseReflex#update_notes" },  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <td><%= tag(:input, type: "checkbox", value: test_case.volume_test_required, checked: test_case.volume_test_required,  data: { id: test_case.id, field: "volume_test_required", reflex: "change->TestCaseReflex#toggle_value" },  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <%= table_compact_data do %>
          <%= tag(:input, type: "text", value: test_case.volume_per_month,  data: { id: test_case.id, reflex: "change->TestCaseReflex#update_month" }, size: "4",  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <% end %>
        <td><%= tag(:input, type: "checkbox", value: test_case.tests_executed, checked: test_case.tests_executed,  data: { id: test_case.id, field: "tests_executed", reflex: "change->TestCaseReflex#toggle_value" },  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <td><%= tag(:input, type: "checkbox", value: test_case.volume_tests_executed, checked: test_case.volume_tests_executed,  data: { id: test_case.id, field: "volume_tests_executed", reflex: "change->TestCaseReflex#toggle_value" },  class: "w-full h8 p-1 text-sm text-gray-700 placeholder-gray-600 border border-gray-400 rounded-lg leading-tight bg-white shadow-inner" )%> </td>
        <%= table_compact_data test_case.extra[0..70]%>      
      <% end %>
    <% end %>
  <% end %>
<% end %>



